body { padding-top: 70px; }
h1.page-header {
    margin-top: -5px;
}
.main-container { 
    background: #FFF;
    padding-top: 15px;
    margin-top: -20px;
}

.footer {
    width: 100%;
}  

.row{
    margin-left:0px;
    margin-right:0px;
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-top: -7px;
    margin-left: -160px;
    left: 70px;
    width: 150px;
    background: #009688;
    position: fixed;
    height: 100%;
    padding-left: 10px;
    
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-nav ul a {
  color: #aaa;
  border-top: 1px solid rgba(15, 79, 72,0.3);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.sidebar-sub-nav {
    background-color: #2e9b90;
    display: block;
    float: left;
    width: 90px;
    list-style: none;
    margin: 0;
    padding-left: 10px;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #D7EEEC;
    display: block;
    float: left;
    text-decoration: none;
    width: 140px;
    background: #009688;
    
}

.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 10px;
}

.sidebar-nav li a {
  color: #D7EEEC;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: #33aa9f;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
.sidebar-sub-nav > li > a {
    color: #7de8dd;
    background-color:  #2e9b90;
    display: block;
    float: left;
    width: 130px;
}

#main_icon
{
    float:right;
   padding-right: 10px;
   padding-top:20px;
}
.sub_icon
{
    float:right;
   padding-right: 15px;
   padding-top:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}
.online{
  background-color: white;
}

@media (max-width:767px) {
    #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
}
#sidebar-wrapper {
    left: 70px;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 150px;
    transition: all .4s ease 0s;
}
}
.fa-stack-2x {
  left: -10px !important;
}
li.active{
  background: rgb(25, 159, 147);
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
  padding: 0px;
  margin: 1px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #199f93;
  border-color: #199f93;
}
.pagination>li>span,.pagination>li>a:hover{
  background-color: #199f93;
  border-color: #199f93; 
  color: #fff;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
  background-color: #199f93;
  border-color: #199f93;
}
.pagination>li:first-child>a, .pagination>li:first-child>span{
  margin-left: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span{
  margin-left: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #199f93;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.nav>li>a{
  margin-right: 15px;
}
td > .btn {
    margin-top: 0px ;
    margin-bottom: 0px;
}
.bootstrap-timepicker-widget {
    z-index: 1200 !important;
}